<html>
	<head>
		<title> preview : <%= go_to;%></title>
		<link type="text/css" rel="stylesheet" href="css/main.css">
		<script type="module" src="<%= go_to;%>.js"></script>
	</head>
	<body>
		<div id="info"></div>
	</body>
</html>
